<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

<body>
   <%- include('partials/nav') %>

    <div class="blogs content">
        <h2>About Us</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolorum quisquam sint molestiae alias inventore eveniet vel ad ut iure reiciendis expedita facilis enim a quas voluptate temporibus obcaecati nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolorum quisquam sint molestiae alias inventore eveniet vel ad ut iure reiciendis expedita facilis enim a quas voluptate temporibus obcaecati nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolorum quisquam sint molestiae alias inventore eveniet vel ad ut iure reiciendis expedita facilis enim a quas voluptate temporibus obcaecati nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolorum quisquam sint molestiae alias inventore eveniet vel ad ut iure reiciendis expedita facilis enim a quas voluptate temporibus obcaecati nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolorum quisquam sint molestiae alias inventore eveniet vel ad ut iure reiciendis expedita facilis enim a quas voluptate temporibus obcaecati nihil.</p>
    </div>

    <%- include('partials/footer') %>
</body>
</html>